<div class="uk-grid uk-align-right" data-uk-grid>
  <div class=" ">
    <button class="uk-button uk-button-primary" uk-toggle="target: #add_client">
      Add A testimonial
    </button>
  </div>
</div>
<table class="uk-table uk-table-middle uk-table-divider">
  <thead>
    <tr class="uk-background-primary">
      <th class="uk-width-small" class="uk-background-primary">
        <span style="color: #fff;" class="uk-text-bold">Ref</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff;" class="uk-text-bold">Name</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff;" class="uk-text-bold">Description</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff;" class="uk-text-bold">Created At</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff;" class="uk-text-bold"></span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff;" class="uk-text-bold">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let test of testo ; let i = index">
      <td>{{i+1}}</td>
      <td>
      {{test.name}}
      </td>
      <td>
        {{test.description}}
      </td>
      <td>
        {{test.createdAt}}
      </td>

      <td>
        <button class="uk-button uk-button-primary uk-margin uk-width-1-1" type="button">
          <span uk-icon="file-edit"></span> Edit
        </button>
        <br/>
        <button class="uk-button uk-button-danger uk-width-1-1" type="button" (click)="deleteTesto(test._id)">
          <span uk-icon="trash"></span> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div id="add_client" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title"></h2>
    <form>
      <fieldset class="uk-fieldset">
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Name" [(ngModel)]="name" [ngModelOptions]="{standalone: true}" />
        </div>
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}"/>
        </div>
      </fieldset>
    </form>
    <p class="uk-text-right">
      <button
        class="uk-button uk-button-default uk-modal-close uk-modal-close" (click)="clear()"
        type="button"
      >
        Cancel
      </button>
      <button class="uk-button uk-button-primary uk-modal-close" type="button" (click)="addTestomanial()">
        Save
      </button>
    </p>
  </div>
</div>
