<div style="width: 100%;height: 35px; background-color: #040424 !important;display: flex;justify-content:space-evenly;align-items: center;">
<div style="display: flex;justify-content: space-evenly;align-items: center; margin-right: auto;margin-left: 10%;">
  <span style="color: white;margin-right: 25px;"><i class="fas fa-map-marker-alt" ></i> Ariana 5000 </span>
  <span style="color: white;"><i class="fas fa-phone-alt" ></i> +216 29 926 474 </span>
</div>
<div style="display: flex;justify-content: space-evenly;align-items: center; margin-left: auto;margin-right: 10%;">
  <span style="color: white;margin-right: 25px;"><a href="https://www.linkedin.com/company/aylan-consulting/about/"><i class="fab fa-linkedin"></i></a> </span>
  <span style="color: white;"><a href="https://www.facebook.com/Aylan-Consulting-106445467654174"> <i class="fab fa-facebook-square"></i></a>  </span>
</div>

</div>
<div class="top-wrap uk-position-relative uk-light uk-background-secondary">

  <div
    class="nav uk-navbar-container "
    data-uk-sticky="cls-active: uk-background-secondary ;  animation: uk-animation-slide-top"
  >
    <div class="uk-container">
      <nav
        class="uk-navbar uk-navbar-container uk-navbar-transparent"
        data-uk-navbar
      >
        <div class="uk-navbar-left">
          <div class="uk-navbar-item uk-padding-remove-horizontal">
            <a class="uk-logo" title="Logo" href="">
              <img src="../../assets/img/logo.png" alt="Logo" />
            </a>
          </div>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav uk-visible@s">
            <!-- <li class="uk-active uk-visible@m">
              <a href="" data-uk-icon="home"></a>
            </li> -->
            <li><a routerLink="/" class="uk-link">Home</a></li>
            <li>
              <a routerLink="/experts" class="uk-link">Expert Interspace</a>
            </li>
            <li>
              <a routerLink="/service" class="uk-link">Let Us Serve You</a>
            </li>
            <li><a routerLink="/news" class="uk-link">News</a></li>
            <li><a routerLink="/contact" class="uk-link">Contact Us</a></li>
            <li><a routerLink="/login" class="uk-link">Login</a></li>
          </ul>
          <a
            class="uk-navbar-toggle uk-navbar-item uk-hidden@s"
            data-uk-toggle
            data-uk-navbar-toggle-icon
            href="#offcanvas-nav"
          ></a>
        </div>
      </nav>
    </div>
  </div>
</div>
