<div class="top-wrap uk-position-relative uk-light uk-background-secondary">
  <!-- NAV -->
  <div
    class="nav uk-navbar-container uk-navbar-transparent"
    data-uk-sticky="cls-active: uk-background-secondary ; top: 20vh; animation: uk-animation-slide-top"
  >
    <div class="uk-container">
      <nav
        class="uk-navbar uk-navbar-container uk-navbar-transparent"
        data-uk-navbar
      >
        <div class="uk-navbar-left">
          <div class="uk-navbar-item uk-padding-remove-horizontal">
            <a class="uk-logo" title="Logo" href="">
              <img src="img/marketing-logo.svg" alt="Logo" />
            </a>
          </div>
        </div>
        <div class="uk-navbar-right">
          <ul class="uk-navbar-nav uk-visible@s">
            <li class="uk-active uk-visible@m">
              <a href="" data-uk-icon="home"></a>
            </li>
            <li><a routerLink="/" class="uk-link">Home</a></li>
            <li><a routerLink="/experts"  class="uk-link">Expert Interspace</a></li>
            <li><a routerLink="/service"  class="uk-link">Let Us Serve You</a></li>
            <li><a href=""  class="uk-link">News</a></li>
            <li><a href=""  class="uk-link">Contact Us</a></li>
          </ul>
          <a
            class="uk-navbar-toggle uk-navbar-item uk-hidden@s"
            data-uk-toggle
            data-uk-navbar-toggle-icon
            href="#offcanvas-nav"
          ></a>
        </div>
      </nav>
    </div>
  </div>
</div>
