<footer class="uk-section uk-section-secondary uk-padding-remove-bottom">
  <div class="uk-container">
    <div class="uk-grid uk-grid-large" data-uk-grid>
      <div class="uk-width-1-2@m">
        <h5>AYLAN CONSULTING</h5>
        <p>
          A general expertise agency, business facilities and a training
          provider. By using a methodology that combines both direct approach
          and advertisement, Aylan Consulting Qualitative approach is deeply
          committed to satisfy its clients and select the best experts available
          on the market. Our day-to-day challenge is to contribute to your
          performance and to the development of our clients.
        </p>
        <div>
         
          <a href="https://www.facebook.com/Aylan-Consulting-106445467654174" class="uk-icon-button" data-uk-icon="facebook"></a>
          <a href="https://www.linkedin.com/company/aylan-consulting/about/" class="uk-icon-button" data-uk-icon="instagram"></a>
        </div>
      </div>
      <div class="uk-width-1-6@m">
        <h5>OUR TOPICS</h5>
        <ul class="uk-list">
          <li>Consulting</li>
          <li>Business development</li>
          <li>Technical Strategies</li>
          <li>Branding</li>
          <li>Quality / Standard</li>
          <li>Value Chain</li>

        </ul>
      </div>
      <div class="uk-width-1-6@m">
        <h5>OUR TOPICS</h5>
        <ul class="uk-list">
          <li>Export/Trading</li>
          <li>Business services /Facilities</li>
          <li>Training</li>
          <li>Contact Us</li>
          <li>Vocational training</li>
        </ul>
      </div>
      <div class="uk-width-1-6@m">
        <h5>LOCATED IN</h5>
        <ul class="uk-list">
          <li>Tunis (Headquarter)</li>
          <li>Brussels (Belgium and EU office)</li>
          <li>Hamburg (Germany Office)</li>
          <li>Africa Settlment (Coming Soon)</li>
          <li>Digital Platform (Coming Soon)</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="uk-text-center uk-padding uk-padding-remove-horizontal">
    <!-- <span class="uk-text-small uk-text-muted">
      © 2019 Marketing Layout -
      <a href="https://github.com/zzseba78/Kick-Off">Created by KickOff</a>
      | Built with
      <a
        href="http://getuikit.com"
        title="Visit UIkit 3 site"
        target="_blank"
        data-uk-tooltip
      >
        <span data-uk-icon="uikit"></span>
      </a>
    </span> -->
  </div>
</footer>
<!-- /FOOTER -->
<!-- OFFCANVAS -->
