<table class="uk-table uk-table-middle uk-table-divider">
  <thead>
    <tr class="uk-background-primary">
      <th class="uk-width-small" class="uk-background-primary">
        <span style="color: #fff" class="uk-text-bold">Ref</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff" class="uk-text-bold">Title</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff" class="uk-text-bold">Description</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff" class="uk-text-bold">Requirements</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff" class="uk-text-bold">Minimeum Salary</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff" class="uk-text-bold">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Table Data</td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td class="uk-width-small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        <button class="uk-button uk-button-primary uk-margin" type="button">
          <span uk-icon="file-edit"></span> Edit
        </button>
        <button class="uk-button uk-button-danger" type="button">
          <span uk-icon="trash"></span> Delete
        </button>
      </td>
    </tr>
    <tr>
      <td>Table Data</td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td class="uk-width-small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        <button class="uk-button uk-button-primary uk-margin" type="button">
          <span uk-icon="file-edit"></span> Edit
        </button>
        <button class="uk-button uk-button-danger" type="button">
          <span uk-icon="trash"></span> Delete
        </button>
      </td>
    </tr>
    <tr>
      <td>Table Data</td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td class="uk-width-small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        <button class="uk-button uk-button-primary uk-margin" type="button">
          <span uk-icon="file-edit"></span> Edit
        </button>
        <button class="uk-button uk-button-danger" type="button">
          <span uk-icon="trash"></span> Delete
        </button>
      </td>
    </tr>
    <tr>
      <td>Table Data</td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td class="uk-width-small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        <button class="uk-button uk-button-primary uk-margin" type="button">
          <span uk-icon="file-edit"></span> Edit
        </button>
        <button class="uk-button uk-button-danger" type="button">
          <span uk-icon="trash"></span> Delete
        </button>
      </td>
    </tr>
    <tr>
      <td>Table Data</td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td class="uk-width-small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        <button class="uk-button uk-button-primary uk-margin" type="button">
          <span uk-icon="file-edit"></span> Edit
        </button>
        <button class="uk-button uk-button-danger" type="button">
          <span uk-icon="trash"></span> Delete
        </button>
      </td>
    </tr>
    <tr>
      <td>Table Data</td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td class="uk-width-small">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua.
      </td>
      <td>
        <button class="uk-button uk-button-primary uk-margin" type="button">
          <span uk-icon="file-edit"></span> Edit
        </button>
        <button class="uk-button uk-button-danger" type="button">
          <span uk-icon="trash"></span> Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
