<div class="uk-grid uk-align-right" data-uk-grid>
  <div class=" ">
    <button class="uk-button uk-button-primary" uk-toggle="target: #add_client">
      Add An Offer
    </button>
  </div>
</div>
<table class="uk-table uk-table-middle uk-table-divider">
  <thead>
    <tr class="uk-background-primary">
      <th class="uk-width-small" class="uk-background-primary">
        <span style="color: #fff;" class="uk-text-bold">Ref</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff;" class="uk-text-bold">Title</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff;" class="uk-text-bold">Description</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff;" class="uk-text-bold">Requirements</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff;" class="uk-text-bold">Minimeum Salary</span>
      </th>
      <th class="uk-background-primary">
        <span style="color: #fff;" class="uk-text-bold">Actions</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let off of offers; let i = index">
      <td>{{ off.ref }}</td>
      <td>
        {{ off.title }}
      </td>
      <td>
        {{ off.description }}
      </td>
      <td>
        {{ off.requirement[0] }}
      </td>
      <td class="uk-width-small">
        {{ off.minSalary }}
      </td>
      <td>
        <button
        uk-toggle="target: #edit_client"
          class="uk-button uk-button-primary uk-margin uk-width-1-1"
          type="button"
          (click)="readyToEdit(off._id, off.title, off.description, off.ref, off.requirement, off.minSalary)"
        >
          <span uk-icon="file-edit"></span>
          Edit
        </button>
        <br />
        <button class="uk-button uk-button-danger uk-width-1-1" (click)="deleteOffer(off._id)" type="button">
          <span uk-icon="trash"></span>
          Delete
        </button>
      </td>
    </tr>
  </tbody>
</table>
<div id="edit_client" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Edit An Offer</h2>
    <form>
      <fieldset class="uk-fieldset">
        <div class="uk-margin">
          <input
            class="uk-input"
            type="text"
            placeholder="Reference"
            [(ngModel)]="this.offerToEdit.ref"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="uk-margin">
          <input
            class="uk-input"
            type="text"
            placeholder="Title"
            [(ngModel)]="this.offerToEdit.title"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="uk-margin">
          <input
            class="uk-input"
            type="text"
            placeholder="Description"
            [(ngModel)]="this.offerToEdit.desc"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="uk-margin">
          <input
            class="uk-input"
            type="text"
            placeholder="Requirements"
            [(ngModel)]="this.offerToEdit.rec"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="uk-margin">
          <input
            class="uk-input"
            type="text"
            placeholder="Minimum Salary"
            [(ngModel)]="this.offerToEdit.salary"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </fieldset>
    </form>
    <p class="uk-text-right">
      <button
        class="uk-button uk-button-default uk-modal-close uk-modal-close"
        type="button"
      >
        Cancel
      </button>
      <button
        class="uk-button uk-button-primary uk-modal-close"
        type="button"
        (click)="editOffer()"
      >
        Edit
      </button>
    </p>
  </div>
</div>
<div id="add_client" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Add A New Offer</h2>
    <form>
      <fieldset class="uk-fieldset">
        <div class="uk-margin">
          <input
            class="uk-input"
            type="text"
            placeholder="Reference"
            [(ngModel)]="ref"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="uk-margin">
          <input
            class="uk-input"
            type="text"
            placeholder="Title"
            [(ngModel)]="title"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="uk-margin">
          <input
            class="uk-input"
            type="text"
            placeholder="Description"
            [(ngModel)]="desc"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="uk-margin">
          <input
            class="uk-input"
            type="text"
            placeholder="Requirements"
            [(ngModel)]="rec"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>

        <div class="uk-margin">
          <input
            class="uk-input"
            type="text"
            placeholder="Minimum Salary"
            [(ngModel)]="salary"
            [ngModelOptions]="{ standalone: true }"
          />
        </div>
      </fieldset>
    </form>
    <p class="uk-text-right">
      <button
        class="uk-button uk-button-default uk-modal-close uk-modal-close"
        type="button"
      >
        Cancel
      </button>
      <button
        class="uk-button uk-button-primary uk-modal-close"
        type="button"
        (click)="submitOffer()"
      >
        Save
      </button>
    </p>
  </div>
</div>
