.mapouter {
    position: relative;
    text-align: right;
    height: 100%;
    width: 100%;
  }

  .gmap_canvas {
    overflow: hidden;
    background: none !important;
    height: 100%;
    width: 100%;
  }
  iframe{
      min-height: 50vh !important;
  }

  .uk-button-primary{
    background-color:#2aa58a !important ;
  } 