<app-adminheader></app-adminheader>
<!-- LEFT BAR -->
<aside id="left-col" class="uk-light uk-visible@m">
  <div class="left-logo uk-flex uk-flex-middle">
    <img class="custom-logo" src="img/dashboard-logo.svg" alt="" />
  </div>
  <div class="left-content-box content-box-dark">
    <img src="img/avatar.svg" alt="" class="uk-border-circle profile-img" />
    <h4 class="uk-text-center uk-margin-remove-vertical text-light">
      John Doe
    </h4>

    <div class="uk-position-relative uk-text-center uk-display-block">
      <a
        href="#"
        class="uk-text-small uk-text-muted uk-display-block uk-text-center"
        data-uk-icon="icon: triangle-down; ratio: 0.7"
        >Admin</a
      >
      <!-- user dropdown -->

      <!-- /user dropdown -->
    </div>
  </div>

  <div class="left-nav-wrap">
    <ul class="uk-nav uk-nav-default uk-nav-parent-icon" data-uk-nav>
      <li class="uk-nav-header">ACTIONS</li>
      <li>
        <a routerLink="/admin/"
          ><span
            data-uk-icon="icon: comments"
            class="uk-margin-small-right"
          ></span
          >Offres</a
        >
      </li>
      <li>
        <a routerLink="/admin/messages"
          ><span
            data-uk-icon="icon: mail"
            class="uk-margin-small-right"
          ></span
          >Messages</a
        >
      </li>
       <li>
        <a routerLink="/admin/testomanial"
          ><span
            data-uk-icon="icon: bookmark"
            class="uk-margin-small-right"
          ></span
          >Testimonials</a
        >
      </li>
        <li>
        <a routerLink="/admin/services"
          ><span
            data-uk-icon="icon: nut"
            class="uk-margin-small-right"
          ></span
          >Services</a
        >
      </li>
      <li>
        <a routerLink="/admin/experts"
          ><span
            data-uk-icon="icon: users"
            class="uk-margin-small-right"
          ></span
          >Experts</a
        >
      </li>


      <li>
        <a routerLink="/admin/clients"
          ><span data-uk-icon="icon: album" class="uk-margin-small-right"></span
          >Clients</a
        >
      </li>
      <li>
        <a routerLink="/admin/news"
          ><span
            data-uk-icon="icon: thumbnails"
            class="uk-margin-small-right"
          ></span
          >News</a
        >
      </li>
      <li>
        <a routerLink="/admin/resume"
          ><span
            data-uk-icon="icon: file-pdf"
            class="uk-margin-small-right"
          ></span
          >Resume</a
        >
      </li>
    </ul>
  </div>

</aside>
<div id="content" data-uk-height-viewport="expand: true">
  <div class="uk-container uk-container-expand">
    <router-outlet></router-outlet>
  </div>
</div>
