<div>
  <div class="uk-cover-container uk-light uk-flex uk-flex-middle top-wrap-height"
    style="background-color: #040424 !important;">
    <div class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top"
      data-uk-parallax="y: 0,50; easing:0; opacity:0.3">
      <div data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150">
        <h1 class="uk-margin-remove-top uk-text-primary uk-text-bolder">
          OUR LATEST NEWS
        </h1>
        <h2 class="uk-margin-remove-top uk-text-primary uk-text-bolder">
          <!-- JOIN US NOW -->
        </h2>
      </div>
    </div>

    <img
      
    src="../../assets/img/news.png"
    class="hero-img"
  
  />
    <!-- /TOP IMAGE -->
  </div>
</div>
<div class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-grid" data-ukgrid>
      <div class="uk-width-2-3@m">
        <h4 class="uk-heading-line uk-text-bold"><span>Latest News</span></h4>
        <article
          class="uk-section uk-section-small uk-padding-remove-top"
          *ngFor="let new of news"
        >
          <header>
            <h2
              class="uk-margin-remove-adjacent uk-text-bold uk-margin-small-bottom"
            >
              <a
                title="Fusce facilisis tempus magna ac dignissim."
                class="uk-link-reset"
                href="#"
              >
                {{ new.title }}
              </a>
            </h2>
            <p class="uk-article-meta">
              {{ new.createdAt }}
              <a href="#">Blog</a>
              |
            </p>
          </header>
          <figure>
            <img
              src="https://aylan-consulting.com/api/{{ new.image }}"
              width="800"
              height="300"
              alt="Alt text"
              class="lazy"
            />
            <!-- <figcaption class="uk-padding-small uk-text-center uk-text-muted">
              Caption of the image
            </figcaption> -->
          </figure>
          <!-- <p>
            UPDATE 24th October 15.10 BST — Vivamus sed consequat urna. Fusce
            vitae urna sed ante placerat iaculis. Suspendisse potenti.
            Pellentesque quis fringilla libero. In hac habitasse platea
            dictumst.
          </p>
          <p>
            Ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam
            egestas semper. Aenean ultricies mi vitae est. Mauris placerat
            eleifend leo.
          </p> -->
          <quill-view-html
            [content]="new.body"
            format="text"
            theme="snow"
          ></quill-view-html>
          <hr />
        </article>
      </div>
    </div>
  </div>
</div>
