<table class="uk-table uk-table-middle uk-table-divider">
    <thead>
      <tr class="uk-background-primary">
        <th class="uk-background-primary">
          <span style="color: #fff" class="uk-text-bold">First Name</span>
        </th>
        <th class="uk-background-primary">
          <span style="color: #fff" class="uk-text-bold">Last Name</span>
        </th>
        <th class="uk-background-primary">
          <span style="color: #fff" class="uk-text-bold">Email</span>
        </th>
        <th class="uk-background-primary">
          <span style="color: #fff" class="uk-text-bold">Message</span>
        </th>
        <th class="uk-background-primary">
          <span style="color: #fff" class="uk-text-bold">Actions</span>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let mes of messages; let i = index">
        <td class="uk-width-1-6">{{ mes.firstName }}</td>
        <td class="uk-width-1-6">
{{ mes.lastName }}
        </td>
        <td class="uk-width-1-6">
{{ mes.email }}
        </td>
        <td class="uk-width-1-1">
{{ mes.message }}
        </td >
        <td class="uk-width-1-1">
          <button class="uk-button uk-button-danger uk-width-1-1" (click)="deleteMessage(mes._id)" type="button">
            <span uk-icon="trash"></span> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  