<div uk-height-viewport="min-height: 100vh">
  <div>
    <div
      class="uk-cover-container uk-light uk-flex uk-flex-middle top-wrap-height"
    >
      <div
        class="uk-container uk-flex-auto top-container uk-position-relative uk-margin-medium-top"
        data-uk-parallax="y: 0,50; easing:0; opacity:0.3"
      >
        <div
          data-uk-scrollspy="cls: uk-animation-slide-right-medium; target: > *; delay: 150"
        >
          <h1 class="uk-margin-remove-top uk-text-primary uk-text-bolder">
            LET US HELP YOU
          </h1>
          <h2 class="uk-margin-remove-top uk-text-primary uk-text-bolder">
            TRUSTED BY HOUNDREDS
          </h2>
        </div>
      </div>

      <img
        class="uk-blend-darken"
        src="../assets/img/trust.jpeg"
        data-sizes="100vw"
        alt=""
        data-uk-cover
        data-uk-img
        data-uk-parallax="opacity: 0.8,0.1; easing:0"
      />
      <!-- /TOP IMAGE -->
    </div>
  </div>
</div>
<section id="content" class="uk-section uk-section-default">
  <div class="uk-container">
    <div class="uk-section uk-section-small uk-padding-remove-top">
      <ul
        class="uk-subnav uk-subnav-pill uk-flex uk-flex-center"
        data-uk-switcher="connect: .uk-switcher; animation: uk-animation-fade"
      >
        <li *ngFor="let itm of items">
          <a class="uk-border-pill" href="#">{{ itm.name }}</a>
        </li>
      </ul>
    </div>

    <ul class="uk-switcher uk-margin">
      <li *ngFor="let itm of items">
        <div
          class="uk-grid uk-child-width-1-2@l uk-flex-middle"
          data-uk-grid
          data-uk-scrollspy="target: > div; cls: uk-animation-slide-left-medium"
        >
          <div>
            <img
              src="http://localhost:3000/{{ itm.clientLogo }}"
              alt=""
              data-uk-img
            />
          </div>
          <div data-uk-scrollspy-class="uk-animation-slide-right-medium">
            <h6 class="uk-text-primary">THEY TRUST US</h6>
            <h2 class="uk-margin-small-top">{{ itm.name }}</h2>
            <p class="subtitle-text"></p>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>

<section class="uk-section uk-section-small uk-section-default">
  <h2 class="uk-text-primary uk-h1 uk-text-center">SUBMIT YOUR REQUEST</h2>

  <div class="uk-container">
    <form>
      <fieldset class="uk-fieldset">
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Name" />
        </div>
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="First Name" />
        </div>
        <div class="uk-margin">
          <input class="uk-input" type="text" placeholder="Description" />
        </div>

        <div class="js-upload" uk-form-custom>
          <input type="file" />
          <button
            class="uk-button uk-button-default"
            type="button"
            tabindex="-1"
          >
            Select
          </button>
        </div>
      </fieldset>
      <div class="uk-margin uk-align-center">
        <button class="uk-button uk-button-primary">Submit</button>
      </div>
    </form>
  </div>
</section>
